<% if logged_in? %>
<div class="container home-body width-limited">
	<div class="hidden-lg hidden-md hidden-sm">
			<div class="row title">
				<div class="col-xs-4" align="left">
					<span class="glyphicon glyphicon-menu-hamburger t-gray md-font open-side-bar" style="cursor:pointer"></span>
				</div>
				<div class="col-xs-4" align="center">
				</div>
				<div class="col-xs-4" align="right">
					<span class="glyphicon glyphicon-search t-gray md-font" style="cursor:pointer"></span>
				</div>
			</div>
			<div id="side-bar">
				<ul>
							
							<li class="user-show" url="<%= user_path(current_user) %>">
								<img src="<%= current_user.avatar.medium.url%>" class="xs-img-circle" style="display:inline-block;border-radius:4px">
								<p style="overflow: hidden;
								text-overflow: ellipsis;display:inline-block"><strong><%= current_user.user_name %></strong></p>
							</li>
							<%= link_to root_url do%>
							<li><p>Home</p></li>
							<% end %>
							<%= link_to likes_user_path(current_user) do%>
							<li><p>Likes</p></li>
							<% end %>
							<%= link_to following_user_path(current_user) do%>
							<li><p>Following</p></li>
							<% end %>
							<%= link_to followers_user_path(current_user) do%>
							<li><p>Followers</p></li>
							<% end %>
							<%= link_to edit_user_path(current_user) do%>
							<li><p>Setting</p></li>
							<% end %>
							<%= link_to new_post_path do%>
							<li><p>Create a post</p></li>
							<% end %>
							<%= link_to '/logout',method: :delete do%>
							<li><p>Log out</p></li>
							<% end %>

						</ul>
			</div>
	</div>
	<div class="row">
		<div class="col-md-9 col-sm-9 col-xs-12" align="center" style="padding:0">
			<div class="outline">
				<%= render 'shared/error_messages',object: @post%>
				<div class="hidden-xs">
				<div class="post-edit" align="right">
					<div class="character-number" style="text-align:left"></div>
					<%= form_for @post,html: {multipart: true} do |f|%>
					<%= f.text_area :content,class: "form-control",rows:"5",placeholder:"Say something!",id:"post-text-area"%>
					<label class="custom-file-upload">
						<span class="glyphicon glyphicon-camera t-orange"></span>
						<%= f.file_field :photo,accept: 'image/jpeg,image/gif,image/png',class:"place-left",id:"image_upload"%>
					</label>
					<div id="preview-box">
						<span class="place-left glyphicon glyphicon-remove t-light-gray xxs-font" id="remove-image"></span>

						<img id="uploaded_image" src="#" alt="your image" />
					</div>
					<%= f.submit "POST",class: "btn btn-primary",id:"post-btn",disabled:"disabled"%>
					<% end %>
				</div>
			</div>
				<div class="post-container">
					<% if @feed.empty? %>
						<div style="height:600px;width:100%;background:#3F4E64;border-radius:5px;position:relative">
							<h1 class="t-gray" style="position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translateX(-50%) translateY(-50%);" align="center">No posts to display.<br>Why don't find someone to follow!</h1>
						</div>
					<% else %>
						<%= render 'shared/feed'%>
					<% end %>
				</div>
				<div class="preloader-container" align="center"><%= image_tag image_path('728.gif'),id:"home-preloader"%></div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 hidden-xs" style="padding-left:0px;padding-right:0px;">
			<div id="recommended-container">
				<p class="t-light-gray side-title"><b>RECOMMENDED USERS</b></p>
					<ul>
						<% recommended_users.each do |recommended_user|%>
							<%= render 'shared/recommended_users',recommended_user: recommended_user%>
						<% end %>
					</ul>
			</div>
			<div id="radar-container">
				<p class="t-light-gray side-title"><b>MOST RECENT</b></p>
				<% unless radar.nil?%>
				<%= render 'posts/post_sm',post:radar%>
				<% end %>
			</div>
		</div>
	</div>
</div>

<% else %>
<div class="screen">
	<div class="container">
	<div class="row">
		<div class="col-md-12" align="center">
			<div class="center-form" align='center'>
				<div class='logo lg-btn'>FfffBook.</div>
				<div class="button lg-btn" id="signup"><div class="btn-center"><p>Get Started</p></div></div>
				<div class="button transparent lg-btn" id="login"><div class="btn-center"><p>Log In</p></div></div>
			</div>
		</div>
	</div>
	</div>
	
</div>
<% end %>
