<% if logged_in? %>
<div class="container home-body width-limited">
	<div class="row">
		<div class="col-md-9 col-sm-9 col-xs-12" align="center">
			<div class="outline">
				<%= render 'shared/error_messages',object: @post%>
				<div class="post-edit" >
					<div class="character-number" style="text-align:left"></div>
					<%= form_for @post,html: {multipart: true} do |f|%>
					<%= f.text_area :content,class: "form-control",rows:"5",placeholder:"Say something!",id:"post-text-area"%>
					<label class="custom-file-upload place-left">
						<span class="glyphicon glyphicon-camera t-orange"></span> <span class="gray">photo</span>
						<%= f.file_field :photo,accept: 'image/jpeg,image/gif,image/png',class:"place-left",id:"image_upload"%>
					</label>
					<div id="preview-box">
						<span class="place-left glyphicon glyphicon-remove t-light-gray xxs-font" id="remove-image"></span>
						<img id="uploaded_image" src="#" alt="your image" />
					</div>
					<%= f.submit "POST",class: "btn btn-primary place-right",id:"post-btn",disabled:"disabled"%>
					<% end %>
				</div>
				<div class="post-container">
					<%= render 'shared/feed'%>
				</div>
				<div class="preloader-container" align="center"> <img src="/assets/728.gif" id="home-preloader"> </div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 hidden-xs" style="padding-left:0px;padding-right:0px;">
			<div id="recommended-container">
				<p class="t-light-gray side-title"><b>RECOMMENDED USERS</b></p>
					<ul>
						<% recommended_users.each do |recommended_user|%>
							<%= render 'shared/recommended_users',recommended_user: recommended_user%>
						<% end %>
					</ul>
			</div>
			<div id="radar-container">
				<p class="t-light-gray side-title"><b>RADAR</b></p>
				<%= render 'posts/post_sm',post:radar%>
			</div>
		</div>
	</div>
</div>
<div id="shadow-layer">
</div>
<div id="side-user-profile" class="side-page">
	<img id="profile-preloader" src="/assets/720">
	<div id="profile-content">
	</div>
</div>
<% else %>
<div class="screen">
	<% flash.each do |message_type,message|%>
	<div class="alert alert-<%= message_type %>"><%=message%></div>
	<% end %>
	<div class="center-form">
		<div class='logo'>FfffBook.</div>
		<div class="button" id="signup"><div class="btn-center"><p>Get Started</p></div></div>
		<div class="button transparent" id="login"><div class="btn-center"><p>Log In</p></div></div>
	</div>
</div>
<% end %>
