<% if logged_in? %>
<% flash.each do |message_type,message|%>
<div class="alert alert-<%= message_type %>"><%=message%></div>
<% end %>
<div class="title-bar fixed-title">
	<div class="container outline">		
		<div class="row-fluid">
			<div class="col-xs-6 col-sm-4 col-md-4 no-padding">
				<a href="/" class="place-left">FUCKBOOK</a>
			</div>
			<div class="hidden-xs col-sm-4 col-md-4 no-padding">
				<section class="search-box">
					<!--<form class="search" method="post" action="index.html" >
						<input type="text" name="q" placeholder="Search..." />
						<ul class="results" >
							<li><a href="index.html">Search Result #1<br /><span>Description...</span></a></li>
							<li><a href="index.html">Search Result #2<br /><span>Description...</span></a></li>
							<li><a href="index.html">Search Result #3<br /><span>Description...</span></a></li>
							<li><a href="index.html">Search Result #4</a></li>
						</ul>
					</form>-->
					<%= form_for :search,remote:true,url: "/search",method: :post,html: {class: "search",id:"search-form",autocomplete:"off"} do |f|%>
					<%= f.text_field :key_word,id: "search-field"%>
					<ul class="results" id="results-list">
					</ul>
					<% end %>
				</section>
				<img src="/assets/712" id="home-search-preloader">
			</div>
			<div class="col-xs-6 col-sm-4 col-md-4 no-padding">
				<%= link_to current_user.user_name,user_path(current_user),class:"place-right"%></a>
			</div>
		</div>
	</div>
</div>
<div class="container outline home-body">
	<%= render 'shared/error_messages',object: @post%>
	<div class="post-edit" >
		<div class="character-number"></div>
		<%= form_for @post,html: {multipart: true} do |f|%>
		<%= f.text_area :content,class: "form-control",rows:"5",placeholder:"say something!",id:"post-text-area"%>
		<label class="custom-file-upload place-left">
			<span class="glyphicon glyphicon-camera"></span> photo
			<%= f.file_field :photo,accept: 'image/jpeg,image/gif,image/png',class:"place-left",id:"image_upload"%>
		</label>
		<div id="preview-box">
			<img id="uploaded_image" src="#" alt="your image" />
		</div>
		<%= f.submit "POST",class: "btn btn-primary place-right",id:"post-btn",disabled:"disabled"%>
		<% end %>
	</div>
	<div class="post-container">
		<%= render 'shared/feed'%>
	</div>
	<div class="preloader-container" align="center"> <img src="/assets/728.gif" id="home-preloader"> </div>
</div>
<% else %>
<div class="screen">
	<% flash.each do |message_type,message|%>
	<div class="alert alert-<%= message_type %>"><%=message%></div>
	<% end %>
	<div class="center-form">
		<div class='logo'>FuckBook.</div>
		<div class="button" id="signup"><div class="btn-center"><p>Get Started</p></div></div>
		<div class="button transparent" id="login"><div class="btn-center"><p>Log In</p></div></div>
	</div>
</div>
<% end %>
