<div class="comment" data-id="<%= comment.id %>">
	<div class="row">
		<div class="col-xs-2 col-sm-1 col-md-1">
			<%= link_to image_tag(comment.user.avatar.small.url ,class:"img-circle xxs-img-circle user-link"),user_path(comment.user),remote:true%>
		</div>
		<div class="col-xs-10 col-sm-11 col-md-11 " align="left">
			<% if comment.reply_id.nil? %>
				<p class="xs-font"><b><%= link_to comment.user.user_name,user_path(comment.user) ,class:"user-link",remote:true %></b>:<%= comment.content %></p>
			<% else %>
				<p class="xs-font">
					<b><%= link_to comment.user.user_name,user_path(comment.user) ,class:"user-link",remote:true %></b> reply <b><%= link_to Comment.find_by(id: comment.reply_id).user.user_name,user_path(Comment.find_by(id: comment.reply_id).user),class:"user-link",remote:true%></b>:<%= comment.content %>
				</p>
			<% end %>
		</div>
	</div>
	<div class="row" align="left">
		<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-1 col-md-offset-1 col-md-8">
			<% unless current_user.comments.find_by(id: comment.id).nil? %>
			<%= link_to 'Delete',comment_path(comment),remote:true,method: :delete,style:"display:inline-block;margin-right:5px",class:"xs-font link-for-delete"%>
			<% end %>

			<a href="javascript:void(0)" style:"display:inline-block" class="xs-font reply">Reply</a>

		</div>
	</div>
	<div class="row reply-row">
		<div class="col-xs-10 col-xs-offset-2 col-sm-11 col-sm-offset-1 col-md-offset-1 col-md-11">
			<div class="comment-edit">
				<%= form_for :comment,url: comments_path,method: :post,remote:true,html:{class: "form-for-reply",autocomplete:"off"} do |f|%>
				<%= f.text_field :content ,style:"width:100%",class:"reply-field",placeholder: "reply " + comment.user.user_name + ":"%>
				<%= f.hidden_field :post_id, :value => comment.post.id %>
				<%= f.hidden_field :reply_id, :value => comment.id %>
				<%= f.submit "POST",class: "btn btn-primary place-right post-reply-btn"%>
				<% end %>
				<% unless current_user.activated? %>
						<script>
							$('.reply-field').prop('disabled',true);
							$('.post-reply-btn').prop('disabled',true);
							$('.reply-field').attr('placeholder','Please verify your email address.');
						</script>
				<% end %>
			</div>
			
		</div>
	</div>
</div>