<%= subscribe_to conversation_path(@conversation) %>
<div id="chat-title" image-url="<%= @contact_relationship.contact.avatar.medium.url %>" c-id="<%= find_conversation(current_user,@contact_relationship.contact).id %>" cr-id="<%= @contact_relationship.id %>">
	<div class="place-left white" style="padding:5px"><b><%=@contact_relationship.contact.user_name%></b></div>
	<%= link_to contact_relationship_path(@contact_relationship,conversation_id: @conversation.id),method: :delete,remote:true do%>
		<span class="glyphicon glyphicon-remove place-right white" style="padding:5px"></span>
	<% end %>
	<span class="glyphicon glyphicon-minus place-right white create-contact-btn close-chat" id="minus-<%= find_conversation(current_user,@contact_relationship.contact).id %>" style="padding:5px"></span>
	<script>$('#minus-<%= find_conversation(current_user,@contact_relationship.contact).id %>').on('click',function(){
		$(this).parent().parent().removeClass("visible-chat");
		$(this).parent().parent().addClass("invisible-chat");
		$('#chat-box-container').hide();
		$.get('<%= contact_relationship_path(@contact_relationship) %>');
		
	});
	</script>

	
	
</div>
<div id="chat-content" style="height:320px">
	<% if current_user.activated? %>
	<% for i in @last...@conversation.messages.length %>
	<%= render @conversation.messages[i] %>
	<% end %>
	<% else %>
	<div class="plz-activate">
		<p class="gray" align="center">Please verify your email address.</p>
	</div>
	<% end %>
</div>
<div id="chat-message">
	<%= form_for :message,url: messages_path,remote: true,html:{autocomplete:"off"} do |f|%>
	<%= f.hidden_field :conversation_id,value:@conversation.id %>
	<%= f.text_field :content,class: "no-border  messages-field",placeholder: "Say Something"%>
	<% end %>
	<script>
		<% unless current_user.activated? %>
			$('#conversations-<%= find_conversation(current_user,@contact_relationship.contact).id %>').find('.messages-field').prop('disabled', true);
		<% end %>
		$('.messages-field').keydown(function(e){

			if(e.keyCode == 13){
				e.preventDefault();
				if(this.value.length != 0){
					$(this).parent().submit();
					$(this).val('');
				}
			}
		});
	</script>
</div>

