<div class="container">
<div class="hidden-lg hidden-md hidden-sm ">
			<div class="row title">
				<div class="col-xs-4" align="left">
					<span class="glyphicon glyphicon-menu-hamburger t-gray md-font open-side-bar" style="cursor:pointer"></span>
				</div>
				<div class="col-xs-4" style="padding:0">
					<%= form_for :search,method: :post,url: "/search",html: {autocomplete:"off",id: "search-form-mobile"} do |f|%>
					<%= f.text_field :key_word,class: "search-field-mobile"%>
					<% end %>
				</div>
				<div class="col-xs-4" align="right">
					<span class="glyphicon glyphicon-search t-gray md-font" id="search-mobile" style="cursor:pointer"></span>
				</div>
			</div>
			<div id="side-bar">
				<ul>
							
							<li class="user-show" url="<%= user_path(current_user) %>">
								<img src="<%= current_user.avatar.medium.url%>" class="xs-img-circle" style="display:inline-block;border-radius:4px">
								<p style="overflow: hidden;
								text-overflow: ellipsis;display:inline-block"><strong><%= current_user.user_name %></strong></p>
							</li>
							<%= link_to root_url do%>
							<li><p>Home</p></li>
							<% end %>
							<%= link_to likes_user_path(current_user) do%>
							<li><p>Likes</p></li>
							<% end %>
							<%= link_to following_user_path(current_user) do%>
							<li><p>Following</p></li>
							<% end %>
							<%= link_to followers_user_path(current_user) do%>
							<li><p>Followers</p></li>
							<% end %>
							<%= link_to edit_user_path(current_user) do%>
							<li><p>Setting</p></li>
							<% end %>
							<%= link_to new_post_path do%>
							<li><p>Create a post</p></li>
							<% end %>
							<%= link_to '/logout',method: :delete do%>
							<li><p>Log out</p></li>
							<% end %>
						</ul>
			</div>
	</div>
</div>
<div class="container home-body outline following-page">
	
		<ul class="nav nav-tabs">
			<li role="presentation" class="active" ><a href="javascript:void(0)" >Followers</a></li>
		</ul>
		<div>
		<% @followers.each_with_index do |follower,page|%>
		<% if page%2 == 0%>
			<div class="info-row" >
				<div class="row">
					<div class="col-md-2 col-sm-2 col-xs-2">
						<img src="<%= follower.avatar.medium.url %>" class="sm-img-circle img-circle user-link user-show" url="<%= user_path(follower) %>">
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:25px">
		
						<p class="user-link user-show" url="<%= user_path(follower) %>"><b><%= follower.user_name %></b></p>
						<p><%= follower.last_post_time %></p>
					</div>
					<div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-2 col-xs-offset-3" style='padding-left:0'>
						<div id="follow-form<%=follower.id%>">
							<% if current_user.active_relationships.find_by(following_id: follower.id) %>
							<%= render 'users/unfollow' ,user:follower%>
							<% else %>
							<%= render 'users/follow' ,user:follower%>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<% else %>
			<div class="info-row-odd" >
				<div class="row">
					<div class="col-md-2 col-sm-2 col-xs-2">
						<img src="<%= follower.avatar.medium.url %>" class="sm-img-circle img-circle user-link user-show" url="<%= user_path(follower) %>">
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:25px">
						<p class="user-link user-show" url="<%= user_path(follower) %>"><b><%= follower.user_name %></b></p>
						<p><%= follower.last_post_time %></p>
					</div>
					<div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-2 col-xs-offset-3" style='padding-left:0'>
						<div id="follow-form<%=follower.id%>">
							<% if current_user.active_relationships.find_by(following_id: follower.id) %>
							<%= render 'users/unfollow' ,user:follower%>
							<% else %>
							<%= render 'users/follow' ,user:follower%>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		<% end %>
		<%= will_paginate @followers%>
		</div>
</div>