<div class="container profile" style="padding-top: 80px;">
	<%= render 'shared/user_profiles' %>
</div>
<div class="container outline">
	<div class="post-container">
		<%= render 'shared/feed'%>
	</div>
	<div class="preloader-container" align="center"> <img src="/assets/728.gif" id="home-preloader"> </div>
</div>
<div id="shadow-layer">

	<!--<div id="avatar-form-container" style="display:none">
		<ul id="avatar-edit-list">
			<li><h3 align="center">Change profile picture</h3></li>
			<li>
				<%= form_for :change_avatar,:remote=>true,url: user_path(@user),html:{multipart:true,id:"avatar-form"},method: :put do |f|%>
				<label>
					<div>Upload Photo</div>
					<%= f.file_field :avatar,accept: 'image/jpeg,image/gif,image/png',id:"avatar-upload-field"%>
				</label>
				<% end %>
			</li>
			<li>Cancle</li>
		</ul>

	</div> -->
	<div class="row" style="height:70%">
		<div class="col-md-12 col-sm-12 hidden-xs" style="top:40%" align="center">
			<div id="avatar-edit-container">
				<ul class="avatar-edit-list">
					<li style="background:#F7F7F7"><h4>Change profile picture</h4></li>
					<li style="cursor:pointer;border-top:1px solid;border-color:#D7D7D7">
						<%= form_for :change_avatar,:remote=>true,url: user_path(@user),html:{multipart:true,id:"avatar-form"},method: :put do |f|%>
						<label style="cursor:pointer">
							<h4 class="blue">Upload Photo</h4>
							<%= f.file_field :avatar,accept: 'image/jpeg,image/gif,image/png',id:"avatar-upload-field"%>
						</label>
						<% end %>
					</li>
					<li class="avatar-cancel-btn" style="cursor:pointer;border-top:1px solid;border-color:#D7D7D7"><h4 class="blue">Cancel</h4></li>
				</ul>


			</div>
		</div>
	</div>
	<div class="row" style="height:30%">
		<div class="hidden-md hidden-lg hidden-sm col-xs-12" align="center">
			<div id="avatar-edit-container-sm">
				<ul class="avatar-edit-list">
					<li style="background:#F7F7F7"><h4>Change profile picture</h4></li>
					<li style="cursor:pointer;border-top:1px solid;border-color:#D7D7D7">
						<%= form_for :change_avatar,:remote=>true,url: user_path(@user),html:{multipart:true,id:"avatar-form-sm"},method: :put do |f|%>
						<label style="cursor:pointer">
							<h4 class="blue">Upload Photo</h4>
							<%= f.file_field :avatar,accept: 'image/jpeg,image/gif,image/png',id:"avatar-upload-field-sm"%>
						</label>
						<% end %>
					</li>
					<li class="avatar-cancel-btn" style="cursor:pointer;border-top:1px solid;border-color:#D7D7D7">
						<h4 class="blue">Cancel</h4>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</div>