<% conversation = find_conversation(current_user,c) %>
<div class="start-conversation" c-id="<%= conversation.id %>" id="contact-<%= conversation.id %>" >
			<img src="<%= c.avatar.medium.url %>" class="recommended-img-circle " style="margin:10px">
			
					<% if current_user.id == conversation.sender_id %>
						<% if conversation.messages.length  - conversation.sender_last > 0 %>
							<div class="unread" align="center" >
								<b><%= conversation.messages.length  - conversation.sender_last %></b>
							</div>
						<% else %>
							<div class="unread" align="center" >
								<b><%= conversation.messages.length  - conversation.sender_last %></b>
							</div>
						<% end %>
					<% else %>
						<% if conversation.messages.length  - conversation.receiver_last > 0 %>
							<div class="unread" align="center">
								<b><%= conversation.messages.length  - conversation.receiver_last %></b>
							</div>
						<% else %>
							<div class="unread" align="center"  >
								<b><%= conversation.messages.length  - conversation.receiver_last %></b>
							</div>
						<% end %>
					<% end %>
					<script>

						if(parseInt($('#contact-<%= conversation.id %>').find('b').html()) > 0){
							$('#contact-<%= conversation.id %>').find('.unread').show();
						}
					</script>
</div>
<%= subscribe_to conversation_path(conversation) %>