
<div class="row">
	<div class="hidden-xs col-sm-3 col-md-4" align="center">
		<% if current_user == @user %>
			<img class="img-circle md-img-circle" style="cursor:pointer" id="avatar-edit" src="<%= @user.avatar.url%>">
			<img class="img-circle xxs-img-circle" id="avatar-preloader" src="/assets/712">
		<% else %>
			<%= image_tag(@user.avatar.url,class:"img-circle md-img-circle")%>
		<% end %>
	</div>
	<div class="hidden-xs col-sm-8 col-md-6">
		
		<div class="row no-padding">
			<div class="col-xs-12 col-sm-12 col-md-12 no-padding">
				<div style="margin-bottom:20px;">
					<p class="lg-font"><%= @user.user_name %></p>
					<% if current_user == @user %>
					<%= link_to "EDIT PROFILE",edit_user_path(@user),class:"btn lg-btn"%></a>
					<% else %>
					<div id="user-preloader">
						<img src="/assets/712">
					</div>
					<div id="follow-form">
						<% if current_user.active_relationships.find_by(following_id: @user.id) %>
						<%= render 'users/unfollow' %>
						<% else %>
						<%= render 'users/follow' %>
						<% end %>
					</div>
					<% end %>
				</div>
				<p class="sm-font" style="margin-top:10px;"><%= @user.bio %></p>
			</div>
		</div>
		<div class="row" style="margin-top:20px;">
			<div class="hidden-xs col-sm-4 col-md-4 no-padding"> 
				<p class="sm-font"><%= @user.posts.count%> posts</p>
			</div>
			<div class="hidden-xs col-sm-4 col-md-4 no-padding">
				<p class="sm-font"><span id="followers"><%= @user.followers.count%></span> followers</p>
			</div>
			<div class="hidden-xs col-sm-4 col-md-4 no-padding">
				<p class="sm-font"><%= @user.followings.count%> following</p>
			</div>
		</div>
	</div>
</div>
<div class="row hidden-row">
	<div class="col-xs-4 hidden-sm hidden-md hidden-lg" align="center">
		<% if current_user == @user %>
			<img class="img-circle xs-img-circle" style="cursor:pointer" id="avatar-edit-sm" src="<%= @user.avatar.url%>">
			<img class="img-circle xxs-img-circle" id="avatar-preloader-sm" src="/assets/712">
		<% else %>
			<%= image_tag(@user.avatar.url,class:"img-circle xs-img-circle")%>
		<% end %>
	</div>
	<div class="col-xs-8 hidden-sm hidden-md hidden-lg">
		<div class="row no-padding">
			<div class="col-xs-12 col-sm-12 col-md-12 no-padding" >
				<p class="sm-font"><%= @user.user_name %></p>
				<p class="sm-font"><%= @user.bio %></p>
				<% if current_user == @user %>
				<%= link_to "EDIT PROFILE",edit_user_path(@user),class:"btn sm-btn"%></a>
				<% else %>
				<div id="user-preloader-sm">
					<img src="/assets/712">
				</div>
				<div id="follow-form-sm">
					<% if current_user.active_relationships.find_by(following_id: @user.id) %>
					<%= render 'users/unfollow_sm' %>
					<% else %>
					<%= render 'users/follow_sm' %>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="row hidden-row">
	<div class="col-xs-4 hidden-sm hidden-md hidden-lg" align="center">
		<p><%= @user.posts.count%> posts</p>
	</div>
	<div class="col-xs-4 hidden-sm hidden-md hidden-lg" align="center">
		<p><span id="followers-sm"><%= @user.followers.count%></span> followers</p>
	</div>
	<div class="col-xs-4 hidden-sm hidden-md hidden-lg" align="center">
		<p><%= @user.followings.count%> following</p>
	</div>
</div>


