<div class="container home-body width-limited">
	<div class="hidden-lg hidden-md hidden-sm">
			<div class="row title">
				<div class="col-xs-4" align="left">
					<span class="glyphicon glyphicon-menu-hamburger t-gray md-font open-side-bar" style="cursor:pointer"></span>
				</div>
				<div class="col-xs-4" style="padding:0">
					<%= form_for :search,method: :post,url: "/search",html: {autocomplete:"off",id: "search-form-mobile"} do |f|%>
					<%= f.text_field :key_word,class: "search-field-mobile"%>
					<% end %>
				</div>
				<div class="col-xs-4" align="right">
					<span class="glyphicon glyphicon-search t-gray md-font" id="search-mobile" style="cursor:pointer"></span>
				</div>
			</div>
			<div id="side-bar">
				<ul>
							
							<li class="user-show" url="<%= user_path(current_user) %>">
								<img src="<%= current_user.avatar.medium.url%>" class="xs-img-circle" style="display:inline-block;border-radius:4px">
								<p style="overflow: hidden;
								text-overflow: ellipsis;display:inline-block"><strong><%= current_user.user_name %></strong></p>
							</li>
							<%= link_to root_url do%>
							<li><p>Home</p></li>
							<% end %>
							<%= link_to likes_user_path(current_user) do%>
							<li><p>Likes</p></li>
							<% end %>
							<%= link_to following_user_path(current_user) do%>
							<li><p>Following</p></li>
							<% end %>
							<%= link_to followers_user_path(current_user) do%>
							<li><p>Followers</p></li>
							<% end %>
							<%= link_to edit_user_path(current_user) do%>
							<li><p>Setting</p></li>
							<% end %>
							<%= link_to new_post_path do%>
							<li><p>Create a post</p></li>
							<% end %>
							<%= link_to '/logout',method: :delete do%>
							<li><p>Log out</p></li>
							<% end %>

						</ul>
			</div>
	</div>
	<div class="container">
	</div>
</div>