<div class="post" data-id="<%= post.id %>" id="<%= post.id %>">
	<div class="name-bar">

		<div class="">
			<%= link_to image_tag(post.user.avatar.small.url,class:"img-circle xxs-img-circle inline place-left"),user_path(post.user) %>
			<b><%= link_to post.user.user_name,user_path(post.user),class:"xxs-name place-left deep-blue normal-text"%></b>
			<% if Time.now - post.created_at > 86400%>
			<p class="xxs-font gray place-right xxs-name"><%= post.created_at.strftime("%B %d, %Y") %></p>
			<% else %>
			<p class="xxs-font gray place-right xxs-name"><%= time_ago_in_words(post.created_at) %> ago</p>
			<% end %>
		</div>

	</div>
	<div class="photo-area">
		<% if post.photo? %>
		<%= image_tag post.photo.url,class:"post-photo"%>
		<% end %>
	</div>
	<div class="txt-area">
		<h5 class="likes-count" align="left"><%= post.like_users.count %> likes</h5>
		<h5 class="comments-count" align="left"><%= post.comments.count %> comments</h5>
		<p align="justify"><%= post.content %></p>
	</div>
	<div class="row">
		<div class="hidden-xs col-sm-6 col-md-6 border-right like-form-container">
			<% if current_user.like_relationships.find_by(like_id: post.id) %>
			<%= render 'posts/dislike',post: post %>
			<% else %>
			<%= render 'posts/like',post: post %>
			<% end %>
		</div>
		<div class="hidden-xs col-sm-6 col-md-6 comment-btn deep-gray">
			<h4 >Comment</h4>
		</div>
		<div class="hidden-sm hidden-md col-xs-6 hidden-lg border-right like-form-container-sm">
			<% if current_user.like_relationships.find_by(like_id: post.id) %>
			<%= render 'posts/dislike',post: post%>
			<% else %>
			<%= render 'posts/like',post: post %>
			<% end %>
		</div>
		<div class="hidden-sm hidden-md col-xs-6 hidden-lg comment-btn deep-gray">
			<h5>Comment</h5>
		</div>
	</div>

</div>
<div class="comment-container">
	
	
</div>
<div class="comment-preloader-container" align="center">
	<img src="/assets/728" class="xxs-img-circle"><p>loading</p>
</div>