<!DOCTYPE html>
<html>
<head>
	<title>FfffBook</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	
	<% if logged_in? %>
	<%= subscribe_to user_path(current_user) %>
	<script>
	$('body').attr('u-id','<%= current_user.id %>');
	</script>
	<div class="title-bar fixed-title">
		<% flash.each do |message_type,message|%>
		<div class="alert alert-<%= message_type %>"><%=message%></div>
		<% end %>

		<div class="container" style="padding-left:10px;padding-right:10px;margin-top:20px">		
			<div class="row-fluid">
				<div class="col-xs-6 col-sm-4 col-md-4 no-padding">
					<a href="/" class="place-left">FfffBook</a>
				</div>
				<div class="hidden-xs col-sm-4 col-md-4 no-padding">
					<section class="search-box">
					<!--<form class="search" method="post" action="index.html" >
						<input type="text" name="q" placeholder="Search..." />
						<ul class="results" >
							<li><a href="index.html">Search Result #1<br /><span>Description...</span></a></li>
							<li><a href="index.html">Search Result #2<br /><span>Description...</span></a></li>
							<li><a href="index.html">Search Result #3<br /><span>Description...</span></a></li>
							<li><a href="index.html">Search Result #4</a></li>
						</ul>
					</form>-->
					<%= form_for :search,remote:true,url: "/search",method: :post,html: {class: "search",id:"search-form",autocomplete:"off"} do |f|%>
					<%= f.text_field :key_word,id: "search-field",placeholder: "Search User"%>
					<ul class="results" id="results-list">
					</ul>
					<% end %>
				</section>
				<%= image_tag image_path('712.gif'),id:"home-search-preloader"%>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-4 no-padding">
				<section class="place-right">
					<span class="glyphicon glyphicon-user t-gray menu-switch" style="cursor:pointer" ></span>
					<div class="menu">
						<ul>
							<%= link_to user_path(current_user),remote:true,class:"user-link" do %>
							<li>
								<img src="<%= current_user.avatar.small.url%>" class="xxs-img-circle" style="display:inline-block;border-radius:4px">
								<p style="overflow: hidden;
								text-overflow: ellipsis;display:inline-block"><strong><%= current_user.user_name %></strong></p>
							</li>
							<% end %>
							<%= link_to likes_user_path(current_user) do%>
							<li><p style="display:inline-block"><span class="glyphicon glyphicon-heart"></span>   Likes</p><p class="place-right" id="menu-likes"><%= current_user.likes.count %><p></li>
							<% end %>
							<%= link_to following_user_path(current_user) do%>
							<li><p style="display:inline-block"><span class="glyphicon glyphicon-refresh"></span>   Following</p><p class="place-right" id="menu-following"><%= current_user.followings.count %><p></li>
							<% end %>
							<%= link_to followers_user_path(current_user) do%>
							<li><p style="display:inline-block"><span class="glyphicon glyphicon-refresh"></span>   Followers</p><p class="place-right" id="menu-followers"><%= current_user.followers.count %><p></li>
							<% end %>
							<%= link_to edit_user_path(current_user) do%>
							<li><p><span class="glyphicon glyphicon-cog"></span>   Setting</p></li>
							<% end %>
							<%= link_to '/logout',method: :delete do%>
							<li><p><span class="glyphicon glyphicon-log-out"></span>   Log out</p></li>
							<% end %>
						</ul>
					</div>
				</section>
				

				<section class="place-right ">
					<%= link_to root_url do%>
					<span class="glyphicon glyphicon-home place-right t-gray " style="margin-right:30px;"></span>
					<% end %>

				</section>
				<section class="place-right">
					<div id="unread-count">
						<%= render 'shared/unread_count',user:current_user%>
					</div>
					<span class="glyphicon glyphicon-bell t-gray menu-switch"  style="cursor:pointer;margin-right:30px;"></span>
					
					
					<div class="menu" id="notification-menu">
						<%= render 'shared/unread_notification',user:current_user%>
					</div>
					<% if current_user.unread_count > 0 %>
					<script>
					$('#unread-count').show();
					</script>
					<% end %>
				</section>

			</div>

		</div>
	</div>
</div>
<% flash.each do |message_type,message|%>
		<div class="alert alert-<%= message_type %>"><%=message%></div>
		<% end %>
<% else %>

<% flash.each do |message_type,message| %>
<div class="alert alert-<%= message_type %>" style="margin:0"><%= message%></div>
<% end %>

<% end %>

<%= yield %>
<% if logged_in? %>

<div id="shadow-layer">
</div>

<div id="side-user-profile" style="overflow:hidden">
	<div id="chat-box-container" style="display:none">	
		
		<div id="chat-box" >
			<div id="chat-preloader">
				<div id="chat-title">
					
				</div>
				<div id="chat-content" style="height:300px" align="center">
					<%= image_tag image_path("720.gif"),id:"chat-preloader-img"%>
				</div>
				<div id="chat-message">
				</div>
				
			</div>
		</div>
	</div>
	<div id="contacts-box" >
		<div id="contacts-container" >
			<% current_user.contacts.each do |c| %>

			<%= render 'shared/contact',c:c%>

			<% end %>
		</div>
	</div>
	<div class="side-container side-page" style="overflow-y:scroll">
		<img id="profile-preloader" src="/assets/720">
		<div id="profile-content">
		</div>
	</div>
</div>

<% end %>
</body>
</html>

